#diagram-canvas {
    min-height: 500px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}

#diagram-semantic-model {
    display: none;
}

.toolbar {
    margin-bottom: 13px;
}

#button-confirm-delete-cancel {
    margin-right: 10px;
}

.popover-content {
    text-align: center;
}

.table .text-right {
    text-align: right;
}

table .field-editbox {
    width: 97%;
}

.spinner {
    position: relative;
    left: 50%;
    top: 200px;
}

.table .icon {
    width: 20px;
}

.table .double-icon {
    width: 40px;
}

body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}