#diagram-canvas {
    min-height: 500px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}

#diagram-semantic-model {
    display: none;
}

.toolbar {
    margin-bottom: 13px;
}

#button-confirm-delete-cancel {
    margin-right: 10px;
}

.popover-content {
    text-align: center;
}

.table .text-right {
    text-align: right;
}

.label-editor {
    margin-top: 10px;
}

.label-editor .field-editbox {
    margin-bottom: 0px;
}

table .field-editbox {
    width: 97%; /*uff*/
}

.editable-colum .field-editbox {
    margin-bottom: 0px;
    width: 79% /*uff*/
}

.spinner {
    position: relative;
    left: 50%;
    top: 200px;
}

.table .icon {
    width: 20px;
}

.table .double-icon {
    width: 40px;
}

td form {
    margin-bottom: 0px;
}

body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.ds-tooltip {
    position: relative;
    background: rgb(228, 241, 228);
    padding: 5px;
    opacity: 0.7;
    max-width: 200px;
    min-width: 100px;
    width: auto;
    margin: 0px;
    white-space: nowrap;
}

.ds-tooltip li {
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.ds-tooltip .modal-body {
    padding: 0px;
}

.ds-tooltip:after, .tooltip:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ds-tooltip:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #88b7d5;
    border-width: 7px;
    left: 50%;
    margin-left: -7px;
    opacity: 0.7;
}

.ds-tooltip:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #c2e1f5;
    border-width: 13px;
    left: 50%;
    margin-left: -13px;
    opacity: 0.7;
}

[class^="icon-ldm"], [class*=" icon-ldm"] {
    background-position: 0, 0;
}

.icon-ldm-cp {
    background-image: url("../img/cp_full.png");
}

.icon-ldm-cp-stroke {
    background-image: url("../img/cp_stroke.png");
}

.icon-ldm-fact {
    background-image: url("../img/fact.png");
}

.pointer {
    cursor: pointer;
}