<!DOCTYPE html>
<html lang="en" ng-app="ldm">
<head>
    <meta charset="utf-8">
    <title>KooLDM modeler</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">

    <!-- dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.24/jquery-ui.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.min.js"></script>
    <script src="js/libs/bootstrapx-clickover.js"></script>
    <script src="js/libs/spin.min.js"></script>


    <!-- draw2d stuff -->
    <script src="js/libs/draw2d/lib/shifty.js"></script>
    <script src="js/libs/draw2d/lib/raphael.js"></script>
    <script src="js/libs/draw2d/lib/jquery.layout.js"></script>
    <script src="js/libs/draw2d/lib/jquery.autoresize.js"></script>
    <script src="js/libs/draw2d/lib/jquery-touch_punch.js"></script>
    <script src="js/libs/draw2d/lib/jquery.contextmenu.js"></script>
    <script src="js/libs/draw2d/lib/rgbcolor.js"></script>
    <script src="js/libs/draw2d/lib/canvg.js"></script>
    <script src="js/libs/draw2d/lib/Class.js"></script>
    <script src="js/libs/draw2d/lib/json2.js"></script>
    <script src="js/libs/draw2d/draw2d.js"></script>

    <script src="js/mock.js"></script>
    <script src="js/model.js"></script>
    <script src="js/LdmMainApp.js"></script>
    <script src="js/LdmPropertyEditor.js"></script>
    <script src="js/directives.js"></script>


    <script src="js/diagram/ZoomToolbar.js"></script>
    <script src="js/diagram/AbstractListFeatureSynchronizer.js"></script>
    <script src="js/diagram/figure/TextEditor.js"></script>
    <script src="js/diagram/figure/DatasetFigure.js"></script>
    <script src="js/diagram/SelectionSynchronizer.js"></script>
    <script src="js/diagram/LdmDiagram.js"></script>
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">KooLDM modeler</a>

            <div class="nav-collapse collapse">
                <ul class="nav">
                    <!-- <li><a id="new-dataset" href="#">New Dataset</a></li> -->
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container" ng-controller="MainCtrl">
    <div id="top-bar" class="navbar toolbar">
        <div class="navbar-inner">
            <form class="navbar-form pull-left" ng-submit="addDataset(newDatasetTitle,newDatasetType)">
                <buttons-radio class="btn-group" data-toggle="buttons-radio" model="newDatasetType"
                               options="datasetTypeOptions"></buttons-radio>

                <input type="text" class="span2" ng-model="newDatasetTitle" placeholder="Add Dataset or Date"/>

                <a class="btn btn-info" ng-click="addDataset(newDatasetTitle,newDatasetType)"
                   ng-class="{true: 'disabled', false: ''}[newDatasetTitle == null || newDatasetTitle.length == 0]">
                    <i class="icon-plus"></i>
                </a>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="span8">
            <div id="diagram-sematic-model">
                <div ng-repeat="dataset in datasets" class="semantic" data-id="{{dataset.id}}"></div>
            </div>
            <div id="diagram-canvas"></div>
            <div id="zoom-toolbar"></div>
        </div>
        <div class="span4" style>
            <div ng-view></div>
        </div>
    </div>
</div>
</body>
</html>
