<h3 data-toggle="tooltip" title="{{attribute.id}}">{{attribute.title}}</h3>
<span class="muted">in <strong data-toggle="tooltip" title="{{selectedDataset.id}}">{{selectedDataset.title}}</strong> dataset</span>

<label class="checkbox">
    <input type="checkbox"> Connection point
</label>

<h4><em>Labels</em></h4>
<table class="table">
    <tbody>
    <tr ng-repeat="label in attribute.labels | orderBy:'title'">
        <td class="icon">
            <i class="icon-tag"></i>
        </td>
        <td><a href="" data-toggle="tooltip" title="{{label.id}}">{{label.title}}</a></td>
        <td class="icon text-right">
            <button-delete body="Are you sure you want to delete the label?" fn="removeLabelFromAttribute(label, attribute)"/>
        </td>
    </tr>
    </tbody>
</table>


<!-- todo: remove table layouting-->
<table class="table">
    <tbody>
    <tr>
        <form ng-submit="addLabelToAttribute(newLabelTitle,attribute)">
            <td>
                <input class="field-editbox" type="text" ng-model="newLabelTitle" placeholder="Add Label">
            </td>
            <td>
                <a class="btn btn-info" ng-click="addLabelToAttribute(newLabelTitle,attribute)"
                   ng-class="{true: 'disabled', false: ''}[newTitle == null || newTitle.length == 0]">
                    <i class="icon-plus"></i>
                </a>
            </td>
        </form>
    </tr>
    </tbody>
</table>

<a href="#/dataset/{{selectedDataset.id}}" class="btn"><i class="icon-chevron-left"></i> Backto the dataset detail</a>