<h3 data-toggle="tooltip" title="{{attribute.id}}">{{attribute.title}}</h3>
<span class="muted">in <strong>{{selectedDataset.title}}</strong> dataset</span>

<label class="checkbox">
    <input type="checkbox"> Connection point
</label>

<h4>Labels</h4>

<table class="table table-striped">
    <tbody>
    <tr ng-repeat="label in attribute.labels | orderBy:'title'">
        <td>
            <i class="icon-list"></i>
        </td>
        <td><a href="">{{label.title}}</a></td>
        <td class="text-right">
            <button-delete body="Are you sure you want to delete the label?" fn="removeLabel(label)"/>
        </td>
    </tr>
    </tbody>
</table>

<table class="table">
    <tbody>
    <tr>
        <form ng-submit="addLabel(newTitle)">
            <td>
                <input type="text" ng-model="newTitle" size="30" placeholder="Add Label">
            </td>
        </form>
    </tr>
    </tbody>
</table>

<a href="#/" class="btn">Back</a>

<br>