<h3 data-toggle="tooltip" title="{{attribute.id}}">{{attribute.title}}</h3>
<span class="muted">in <strong>{{selectedDataset.title}}</strong> dataset</span>

<label class="checkbox">
    <input type="checkbox"> Connection point
</label>

<h4><em>Labels</em></h4>
<table class="table">
    <tbody>
    <tr ng-repeat="label in attribute.labels | orderBy:'title'">
        <td>
            <i class="icon-tag"></i>
        </td>
        <td><a href="" data-toggle="tooltip" title="{{label.id}}">{{label.title}}</a></td>
        <td class="text-right">
            <button-delete body="Are you sure you want to delete the label?" fn="removeLabel(label)"/>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="3">
            <form ng-submit="addLabel(newLabelTitle)">
                <input class="dataset-editbox" type="text" ng-model="newLabelTitle" size="30" placeholder="Add Label">
            </form>
        </td>
    </tr>
    </tfoot>
</table>

<a href="#/dataset/{{selectedDataset.id}}" class="btn"><i class="icon-chevron-left"></i> Back to the dataset detail</a>